/* 1. CUADRÍCULA DE MAZOS */
.imag-equipos {
  display: grid;     /* Esto crea 3 columnas del mismo tamaño (1 fracción cada una) */
  grid-template-columns: repeat(3, 1fr);  /* Espacio entre las cartas */
  gap: 20px;  /* Centra la cuadrícula en la pantalla */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.divs-imagenes {
  border-radius: 26px;
  display: flex;
  flex-direction: column; /* Alinea los elementos uno debajo del otro */
  align-items: center;    /* Centra todo horizontalmente (el h3 y la img) */
  justify-content: center; /* Centra verticalmente si sobra espacio */
  text-align: center;     /* Centra el texto por si el nombre tiene dos líneas */
} 

.imag {
  width: 100%;      /* La imagen ocupa todo el ancho de su celda de la rejilla */
  height: 480px;          /* ALTURA FIJA: Cambia este número a tu gusto */
  border-radius: 20px; /* Opcional: le da ese toque de "carta" redondeada */
  object-fit: contain;      /* MAGIA: Recorta la foto para que llene el espacio sin estirarse */
  object-position: center; /* Centra el recorte para no cortar cabezas */
}


/* ENLACES DE UTILIDAD DEL HOME  */
.enlaces-utilidad {
    padding: 30px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 900;
    background-color: rgb(42, 78, 55);
    width: 100%;
}

.enlaces-utilidad h2 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
}

/* El contenedor que organiza los botones */
.grid-enlaces {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Se ajusta solo según el espacio */
    gap: 15px; /* Espacio entre botones */
}

/* Estilo de cada "botón/tarjeta" */
.tarjeta-enlace {
    background: rgba(20, 20, 20, 0.8); /* Fondo oscuro */
    border: 1px solid #d4af37; /* Borde dorado */
    padding: 10px 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Efecto al pasar el mouse */
.tarjeta-enlace:hover {
    background: #d4af37; /* Se vuelve dorado */
    color: black; /* Texto negro para contraste */
    transform: translateY(-5px); /* Se levanta un poquito */
    box-shadow: 0 5px 15px rgba(212, 175, 55, 0.4);
}


@media (max-width: 900px) {
  .imag-equipos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
  }
  .divs-imagenes {
    width: 45%; 
    min-width: 150px;
  }

  .enlaces-utilidad {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}