/* 1. CUADRÍCULA DE MAZOS */
.imag-equipos {
  display: grid;     /* Esto crea 3 columnas del mismo tamaño (1 fracción cada una) */
  grid-template-columns: repeat(3, 1fr);  /* Espacio entre las cartas */
  gap: 20px;  /* Centra la cuadrícula en la pantalla */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.divs-imagenes {
  border-radius: 26px;
  display: flex;
  flex-direction: column; /* Alinea los elementos uno debajo del otro */
  align-items: center;    /* Centra todo horizontalmente (el h3 y la img) */
  justify-content: center; /* Centra verticalmente si sobra espacio */
  text-align: center;     /* Centra el texto por si el nombre tiene dos líneas */
} 

.imag {
  width: 100%;      /* La imagen ocupa todo el ancho de su celda de la rejilla */
  height: 480px;          /* ALTURA FIJA: Cambia este número a tu gusto */
  border-radius: 20px; /* Opcional: le da ese toque de "carta" redondeada */
  object-fit: contain;      /* MAGIA: Recorta la foto para que llene el espacio sin estirarse */
  object-position: center; /* Centra el recorte para no cortar cabezas */
}



@media (max-width: 900px) {
  .imag-equipos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
  }
  .divs-imagenes {
    width: 45%; 
    min-width: 150px;
  }